

:root {
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --title-color: #212121;
    --background-color: #FFFFFF;
    --hero-background: #2F303A;
    --portfolio-button: #F5F4FA; 

}

body {
    background-color: #FFFFFF;
    color: #757575;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.list {
    list-style:none;
    display: flex;
    margin-bottom: 94px;
}
link {
    text-decoration: none;
}
.site-nav-list {
    list-style-type:none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    
}


.header-nav {
    display: flex;
    align-items: center;
    
}
.adress-nav {
    display: flex;
    align-items: center;
    
}
.adress-nav .item {
    margin-left: 50px;
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.header {
    
    
}





/* logo */
.logo-first {
    color: var(--accent-color);
    font-family: "Raleway";    
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
    
    
}

.logo-header {
    text-decoration: none;
}

.site-nav-list .link {
    text-decoration: none;
}

.adress-nav .header-adress {
    text-decoration: none;
}


.logo-second {
    color: var(--title-color);
    font-family: "Raleway";    
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
    
    
}   
/* site-nav */

.site-nav-list {
    display: flex;
    margin-left: 93px;  
   
    
    
}





.site-nav-list .link {
    display: block;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    
    

    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.site-nav-list .link:hover,
.site-nav-list .link:focus,
.site-nav-list .link.current {
    color: var(--accent-color);
}

.adress-nav {
    display: flex;
    margin-left: auto;

}

.site-nav-list .item:last-child {
    margin-right: 0px;
    
}


/* Адрес */
.header-adress {


    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    

    padding-top: 32px;
    padding-bottom: 32px;
}
.header-adress:hover,
.header-adress:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--hero-background);
    text-align: center;
    border: 1px solid #ECECEC;
    margin-bottom: 94px;
    padding: 200px 0;
}

.hero-title {

    margin-top: 0;
    margin-bottom: 0;
    color: var(--background-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    padding-bottom: 30px;
    

}

.button {
    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: 700px;
    font-size: 16px;
    line-height: 1.9;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    border: none;
    cursor: pointer;
    padding: 10px 32px;
    
}

.button:hover {
    color: #188CE8;
}





/* Преимущества */

.section-advantage .list {
    display: flex;
    margin-bottom: 94px;
    
}

.advantage-paragraph {
    margin-right: 30px;
}

.container-advantage {
    align-content: stretch;
}

.advantage-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.advantage-paragraph {
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.7;
    
}

/* Чем мы занимаемся */



.section-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    
}

.projects .list{
    display: flex;
}
.projects .item {
    padding-right: 30px;
    padding-bottom: 94px;
}


/* Наша команда */

.team {
    padding: 94px 0;
    background-color: var(--portfolio-button);
}


.team-list {
    display: flex;
    
    
}
.team-list {
    list-style:none;

}

.card:not(:last-child) {
    margin-right: 30px;
}

.team-title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-paragraph {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 30px;
}
.team-img {
    padding-bottom: 30px;
}
.team-title {
    padding-bottom: 10px;
    border-radius: 0px 0px 4px 4px;
}

.card {
    background-color: #fff;
    border-radius:  0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    
}

/* Футер */
.logo-second-footer{
    color: var(--background-color);
    font-family: "Raleway";    
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
   
}

.footer-list {
    padding-bottom: 60px;
    padding-top: 20px;
    list-style:none;
}
.footer-list .footer-item {
    margin-bottom: 9px;
}

.footer-logo {
    padding-top: 60px;
}

.footer {
    background-color: var(--hero-background);

}
.footer-adress {
    color: var(--background-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.footer-contacts {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.footer-contacts:focus,
.footer-contacts:hover {
    color: var(--accent-color);
}

.footer .link {
    text-decoration: none;
}

.footer-list .footer-contacts {
    text-decoration: none;
}

/* }

.site-nav-list .link {
    text-decoration: none;
}

.adress-nav .header-adress {
    text-decoration: none;
} */


/* Портфолио */

/* Портфолио хедер */

.portfolio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
    list-style: none;
    
   
     
}

.portfolio-button {
    border-radius: 4px; 
    border: none;
    padding: 6px 22px;
}

.header {
    border-bottom: 1px solid #ECECEC;;
}

.portfolio-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
}

.portfolio-paragraph {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    border-bottom: 1px solid #EEEEEE;
    padding-left: 24px;
}
.portfolio-button {
    background-color: var(--portfolio-button);
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin-right: 8px;
    
    
    
}

.portfolio-img {
    margin-bottom: 20px;
}
.portfolio-title {
    margin-bottom: 4px;
}


.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
}

/* list */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 94px;
    
    
}

.portfolio-item {
    width: 370px;
    
    
    margin-right: 30px;
    margin-bottom: 30px;
}

/* .portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
} */

.portfolio-item:nth-child(3n) {
    margin-right: 0;

}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}